<ion-header class="ion-border">
  <img src="/assets/img/logo-registrApp-sinbg.png" alt="Logo App" [routerLink]="['/login']" routerLinkActive="router-link-active" >
</ion-header>

<ion-content>
  <p class="ion-text-center" style="color: grey">La nueva password debe tener al menos 6 caracteres.</p>
  <div class="d-flex-center">


    <form  [formGroup]="form" class="auth-form" (ngSubmit)="actualizarPassword()" (keypress.enter)="actualizarPassword()">
      <ion-item>
        <ion-icon color="primary" slot="start" name="lock-closed-outline" aria-hidden="true"></ion-icon>
        <ion-input class="custom-input" [formControl]="form.controls.password" label="Nueva Contraseña" label-placement="floating"
          type="{{ showPassword ? 'text' : 'password' }}"></ion-input>
  
        <ion-button  fill="clear" slot="end" aria-label="Show/hide" (click)="revela()">
          <ion-icon slot="icon-only" name="{{ showPassword ? 'eye-off' : 'eye' }}" aria-hidden="true"></ion-icon>
        </ion-button>

      </ion-item>
      
      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es obligatorio</div>
        <div *ngIf="form.controls.password.errors?.['minLength']">Debe tener al menos 6 caracteres</div>
      </div>
  
      
      <ion-button color="warning" mode="ios" [disabled]="form.invalid"  expand="block" type="submit" class="submit"  shape="round">
        Crear nueva contraseña  <ion-icon slot="end" name="send-outline"></ion-icon>
      </ion-button>
    </form>

  </div>




</ion-content>