#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.mensaje-qr{
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: gray;
}

.boton-qr ion-icon{
  font-size: 48px;
}